<<<<<<<< head

*{
  margin: 0;
  padding: 0;
  font-family:
}

.nav{
  background-color: #5F9EA0;
}

a:hover{
  color: black;
}

#sectionheadertext{
  text-align: center;
  font-family: monospace;
}

#header{
  background-color: #5F9EA0;
}

#sig{
  color: #fcffdb;
}

#gallery .fa-chevron-down {
  transition: all 0.5s ease;
}
.rotate180 {
  transform: rotate(180deg);
}

#contentcolumn{
  background-color: #f0ffff;
  margin: auto;
}

.carousel {
  max-height: 700px;
  background-color: darkgrey;
}

.carousel-inner{
  width:
}



#signature{
  width: 50%;
  height: 30%;
}

.no-underline{
  text-decoration: none;
  text-decoration-color: black;
}

.no-bullet{
  list-style-type: none;
}


#picdiv{
  padding-left: 0%;
  padding-right: 0%;
  margin: 0%;
}

#pics{
  backgroud-color: red;
}

#contactmediv{

}

#aboutmediv{
  background-color: #d3d3d3;
}


#page_background{
  background-color: #f0ffff;

}
