<<<<<<<< head

*{
  margin: 0;
  padding: 0;
}

#homepage{
  text-align: center;
  font-family: monospace;
}

#contentdiv{
  border-style: solid;
  border-color: purple;
}

#sidenavbar{
  border-style: solid;
  border-color: blue;
}

#picdiv{
  border: solid;
  border-color: black;
  padding-left: 0%;
  padding-right: 0%;
  margin: 0%;
}

#pics{
  backgroud-color: red;
}

#contactmediv{
  border-style: dashed;
  border-color: black;
}

#aboutmediv{
  border-style: solid;
  border-color: black;
}

#DevinName{
  color: #2f4f4f;
  font-style: italic;
  font-size: 200%;
  margin: auto;
  width: 100%;
}

#page_background{
  background-color: #dcdcdc;

}
