<<<<<<<< head

*{
  margin: 0;
  padding: 0;
}

.col-2{
  border-style: dashed;
  border-color: red;
}

.col-10{
  border-style: solid;
  border-color: blue;
}

.col-4{
  border-style: dashed;
  border-color: green;
}

.col-2{
  border-style: dashed;
  border-color: pink;
}

.col-3{
  border-style: dashed;
  border-color: purple;
}

.col-7{
  border-style: dashed;
  border-color: black;
}

.col-12{
  border-style: solid;
  border-color: black;
}
